:root {
    --blanco: hsl(0, 0%, 100%);
    --negro: hsl(0, 0%, 0%);
    --gris-oscuro: hsl(0, 0%, 55%);
    --gris-muy-oscuro: hsl(0, 0%, 41%);

    --fuente-principal: 'Alata', sans-serif;
    --fuente-secundaria: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: var(--fuente-principal);
    color: var(--negro);
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.cabecera {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 40px 0;
}

.cabecera-navegacion {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera-logo {
    z-index: 20;
}

.navegacion-lista {
    display: none;
}

.portada {
    background-image: url('./images/mobile/image-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    align-items: center;
}

.contenedor-portada {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 24px;
}

.portada-titulo {
    font-family: var(--fuente-secundaria);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1;
    color: var(--blanco);
    border: 2px solid var(--blanco);
    padding: 24px;
    max-width: 650px;
}

.cabecera-hamburguesa {
    cursor: pointer;
}

.menu-movil {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--negro);
    z-index: 15;
    padding: 40px 24px;
}

@media (min-width: 768px) {
    .cabecera {
        padding: 64px 0;
    }

    .cabecera-hamburguesa {
        display: none;
    }

    .navegacion-lista {
        display: flex;
        gap: 32px;
    }

    a.navegacion-enlace {
        color: var(--blanco);
        font-family: var(--fuente-principal);
        font-size: 15px;
        font-weight: 700;
    }

    a.navegacion-enlace::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--blanco);
        transition: width 0.3s ease;
    }

    a.navegacion-enlace:hover::after {
        width: 100%;
    }

    .portada {
        background-image: url('./images/desktop/image-hero.jpg');
    }

    .portada-titulo {
        font-size: 72px;
        padding: 40px;
        max-width: 650px;
    }
}