:root {
    --blanco: hsl(0, 0%, 100%);
    --negro: hsl(0, 0%, 0%);
    --gris-oscuro: hsl(0, 0%, 55%);
    --gris-muy-oscuro: hsl(0, 0%, 41%);

    --fuente-principal: 'Alata', sans-serif;
    --fuente-secundaria: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: var(--fuente-principal);
    color: var(--negro);
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.cabecera {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 40px 0;
}

.contenedor {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 24px;
}

.cabecera-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera-logo {
    z-index: 20;
}

.navegacion-lista {
    display: none;
}

.cabecera-hamburguesa {
    cursor: pointer;
}

.menu-movil {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--negro);
    z-index: 15;
    padding: 40px 24px;
}

.menu-movil-cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.menu-movil-lista {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-movil-enlace a {
    font-family: var(--fuente-secundaria);
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--blanco);
}

.portada {
    position: relative;
    height: 650px;
    display: flex;
    align-items: center;
}

.portada-img-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.contenedor-portada {
    width: 100%;
}

.portada-titulo {
    font-family: var(--fuente-secundaria);
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
    color: var(--blanco);
    border: 2px solid var(--blanco);
    padding: 24px;
    max-width: 650px;
}

.interactivo {
    padding: 96px 24px;
}

.contenedor-interactivo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.interactivo-texto {
    margin-top: 48px;
    padding: 0 24px;
}

.titulo-seccion {
    font-family: var(--fuente-secundaria);
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 16px;
    line-height: 1;
}

.interactivo-texto p {
    color: var(--gris-oscuro);
    line-height: 1.6;
}

.creaciones {
    padding: 0 24px 96px;
}

.creations-encabezado {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.creations-grid {
    display: grid;
    gap: 24px;
}

.creation-img {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.creation-img img {
    width: 100%;
    height: auto;
}

.creation-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.creation-img:hover::before {
    background: rgba(255, 255, 255, 0.7);
}

.creation-img h3 {
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: var(--blanco);
    font-family: var(--fuente-secundaria);
    font-size: 24px;
    text-transform: uppercase;
    width: 150px;
    z-index: 2;
}

.creation-img:hover h3 {
    color: var(--negro);
    z-index: 2;
}

.boton-ver-todo {
    display: none;
    border: 2px solid var(--negro);
    padding: 8px 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: var(--fuente-principal);
}

.boton-ver-todo:hover {
    background-color: var(--negro);
    color: var(--blanco);
}

.creations-pie-movil {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.creations-pie-movil .boton-ver-todo {
    display: block;
}


.pie-pagina {
    background-color: var(--negro);
    padding: 48px 0;
    color: var(--blanco);
    margin-top: 0;
}

.contenedor-pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pie-logo {
    margin-bottom: 32px;
    width: 144px;
}

.pie-navegacion {
    margin-bottom: 48px;
}

.pie-lista {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pie-enlace a {
    font-weight: 700;
    color: var(--blanco);
}

.pie-social {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    justify-content: center;
}

.pie-social a:hover {
    border-bottom: 2px solid var(--blanco);
    padding-bottom: 8px;
}

.pie-copy {
    color: var(--gris-oscuro);
    font-size: 15px;
}


@media (min-width: 768px) {
    .cabecera {
        padding: 64px 0;
    }

    .creations-pie-movil {
        display: none;
    }

    .navegacion-lista {
        display: flex;
        gap: 32px;
    }

    a.navegacion-enlace {
        color: var(--blanco);
        font-weight: 700;
    }

    a.navegacion-enlace::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--blanco);
        transition: width 0.3s ease;
    }

    a.navegacion-enlace:hover::after {
        width: 100%;
    }

    .portada-titulo {
        font-size: 72px;
        padding: 40px;
        max-width: 650px;
    }

    .contenedor-interactivo {
        flex-direction: row;
        text-align: left;
        position: relative;
        padding-bottom: 0;
    }

    .interactivo-imagen {
        width: 60%;
    }

    .interactivo-texto {
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: var(--blanco);
        padding: 96px 0 0 96px;
        margin-top: 0;
    }

    .titulo-seccion {
        font-size: 48px;
    }

    .interactivo-texto h2.titulo-seccion {
        font-size: 48px;
    }

    .creations-encabezado {
        justify-content: space-between;
        align-items: center;
    }

    .creations-encabezado .boton-ver-todo {
        display: block;
    }

    .creations-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .contenedor-pie {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 40px 24px;
    }

    .pie-logo-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .pie-logo {
        margin-bottom: 24px;
    }

    .pie-lista {
        flex-direction: row;
        gap: 32px;
    }

    .pie-navegacion {
        margin-bottom: 0;
    }

    .pie-social-copy {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .pie-social {
        margin-bottom: 24px;
        justify-content: flex-end;
        flex-direction: row;
    }
}